TensorRT/ 
libtorch/ 
cmake-build-debug/ 
onnxruntime/ 
onnxruntime_gpu/ 
new_build/ 
opencv/ 
build/ 
*.exe 
*.zip 
*.dll 
*.lib 
*.pdb 
*.ilk 
*.obj 
ultralytics-8.3.227.dist-info/ 
datasets/ 
coco8/
